<!-- <div class="file-field input-field col s6">
          <div class="file-path-wrapper">
            <i class="material-icons prefix">upload_file</i>
            <input class="file-path validate" type="text" placeholder="Upload File/Image">
            <input type="file" multiple>
          </div>
        </div> -->

<!--
  <div class="row">
    <div class="input-field col s6">
      <button class="btn-large btn-submit" type="submit" value="Post" [disabled]="!f.valid">Post</button>
    </div>

  -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="container">
  <div class="container contact-form">
    <form method="post"
    (ngSubmit)="createEvent($event, f)"
    #f="ngForm"
    [noValidate]>

      <h3>Create Event Page</h3>
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <span>Name of Event: </span>
            <input type="text"
            name="Name"
            class="form-control"
            value=""
            placeholder="Name Of Event"
            [(ngModel)]="event.Name"
            #Name="ngModel"
            required>
          </div>

          <div class="form-group">
            <span>Name of Your Organization: </span>
            <select class="form-control">
              <option class="hidden"selected disabled>Please select your Organization</option>
              <option>SGA</option>
              <option>MISA</option>
              <option>NSASA</option>
            </select>
          </div>

          <div class="form-group">
            <span>Time: </span>
            <input type="time"
            name="Time"
            class="form-control"
            value=""
            [(ngModel)]="event.Time"
            #Time="ngModel"
            required>
          </div>


          <div class="form-group">
            <span>Date: </span>
            <input type="date"
            name="Date"
            class="form-control"
            value=""
            [(ngModel)]="event.Date"
            #Date="ngModel"
            required>
          </div>

          <div class="form-group">
           <button name="btnSubmit"
            class="btnContact"
            type="submit"
            value="Create"
            [disabled]="!f.valid">
            Create
           </button>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <span>Venue: </span>
            <input type="text"
            name="Venue"
            class="form-control"
            placeholder="Venue"
            value=""
            [(ngModel)]="event.Venue"
            #Venue="ngModel"
            required>
          </div>

          <div class="form-group">
            <span>Description of Event: </span>
             <textarea type="text"
             class="form-control"
             placeholder="abc"
             name="Description"
             [(ngModel)]="event.Description"
              #Description="ngModel"
              style="width: 100%; height: 198px;"
              required>
            </textarea>

          </div>
        </div>
      </div>
    </form>
  </div>
