<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div> Welcome to <br>
    <span>LionsEventTracker</span>
  </div>
</div>
<br>
<div class="log">

<div class="land">

    <a [routerLink]="['/login']"> <input type="button"
      value="Log-in">   </a>
    </div>

<div class="info">
  <div>
      <span>Don't have account?</span>
    </div>
  </div>

  <div class="info1">
      <div>
            <a [routerLink]="['/signup']">
                 <u>Click Me</u></a>
        </div>
      </div>

</div>
