<mat-toolbar fxflex fxFlexLayout>
    <a [routerLink]="['/homepage']">  Selu-Event-Tracker</a>

  </mat-toolbar>
  <mat-divider></mat-divider> 

  <mat-toolbar fxFlexLayout>
     
    <div fxFlex fxLayout="row" fxLayoutGap="35px">
   
      <a [routerLink]="['/homepage']">  Home</a>
      <a [routerLink]="['/createevent']"> Create event</a> 
   <a  [routerLink] = "['/profile']"> Profile</a>  
   <a [routerLink]="['/aboutus']"> About Us</a>
   <a [routerLink]="['/contactus']"> Contact Us</a>

  
   </div>
</mat-toolbar>
<main><router-outlet>
</router-outlet></main>
<p>
  createevent works!
</p>
