div.sm-jumbotron{
    margin: 0px;
    /*padding: 2rem;*/
    background-color: #666a6d ;
      color: #ffffff;
        }
  
  button.btn-submit{
    background-color:#666a6d;
    color: #ffffff;
    width: 100%;
  }