<!-- <div class="body"></div>
  <div class="row">
  <div class="card">
    <div class="sign">
      <header>Welcome To Lions Event</header>
    </div>
    <form (ngSubmit)="logInUser($event, f)" class="col s12 white" #f="ngForm" [noValidate]>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input name="username" type="text" class="validate" [(ngModel)]="user.UserName" #username="ngModel" required />
          <label for="username">UserName</label>
          <span class="helper-text" data-error="Required Field!" data-success=""></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key </i>
          <input class="validate" type="password" name="password" [(ngModel)]="user.Password" #password="ngModel"
            required />
          <label>Password</label>
          <span class="helper-text" data-error="Required Field!" data-success=""></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s14">
          <button class="btn-large btn-submit" type="submit" value="Log-In" [disabled]="!f.valid">Log-In</button>
        </div>

        <div class="row">
          <div class="input-field col s14">
            <a [routerLink]="['/signup']"><button class="btn-large btn-submit" type="submit">
                Sign-Up</button> </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->



 <!--  <form (ngSubmit)="logInUser($event, f)"  #f="ngForm" [noValidate]>

  <div class="login">
    <input type="text"
    name="user"
    placeholder="username"
    [(ngModel)]="user.UserName"
    #username="ngModel" required
     required>

    <input type="password"
    [(ngModel)]="user.Password"
    #password="ngModel"
    placeholder="password"
    name="password"
    required>

      <input
      type="button"
       value="Log-In">

  </div>
  </form>
-->

<div id="bg"></div>
 <form (ngSubmit)="logInUser($event, f)"  #f="ngForm" [noValidate]>

  <div class="a">
  <input type="text"
  name="user"
  placeholder="username"
  [(ngModel)]="user.UserName"
  #username="ngModel"
  class="user"
   required >
  </div>

  <div class="b">
  <input type="password"
  [(ngModel)]="user.Password"
  #password="ngModel"
  placeholder="password"
  name="password"
  class="pass"
  required>
  </div>


<button class="btn-large btn-submit" type="submit" value="Log-In" [disabled]="!f.valid">Log-In</button>
<br>
<br>

<a [routerLink]="['/landingpage']"><button class="btn-large btn-submit" type="submit" value="Back">Back</button> </a>

</form>


