<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="bg">
</div>
<div class="navbar">
    <label ><i>LionsEventTracker</i></label>
    <a href="about" class="right">About</a>
</div>
<div class="container" >
  <div class="card card-container">

    <img id="profile-img"
    class="profile-img-card"
    src="/src/assets/register.gif" />

    <p id="profile-name"
    class="profile-name-card"></p>

   <form class="form-signin"
    (ngSubmit)="signUpUser($event, f)"
    #f="ngForm"
    [noValidate]>

    <!-- FirstName -->
      <input type="text"
      id="inputFirstName"
      class="form-control"
      placeholder="First Name *"
      name="FirstName"
      [(ngModel)]="user.FirstName"
      #FirstName="ngModel"
      required>

    <!-- LastName -->
      <input type="text"
      id="inputLastName"
      class="form-control"
      placeholder="Last Name *"
      name="LastName"
      [(ngModel)]="user.LastName"
      #LastName="ngModel"
      required>

    <!-- UserName -->
      <input type="text"
      id="inputUserName"
      class="form-control"
      placeholder="Username *"
      name="username"
      [(ngModel)]="user.UserName"
      #username="ngModel"
      required>

    <!-- Email -->
      <input type="email"
      id="inputEmail"
      email
      class="form-control"
      placeholder="Email *"
      name="email"
      #Email="ngModel"
      [(ngModel)]="user.Email"
      required>
     <span *ngIf="Email.invalid && Email.touched">
     Invalid Email
     </span>

    <!-- Password -->
      <input type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password *"
      name="Password"
      [(ngModel)]="user.Password"
      #password="ngModel"
      minlength="6"
      required>
      <span *ngIf="password.invalid && password.touched">
      Minimum 6 character
      </span>


    <!-- SignUpButton -->
      <button class="btn btn-lg btn-primary btn-block btn-submit"
      type="submit"
      [disabled]="!f.valid"
      value="Sign-Up">
      Register
      </button>

   </form>
  </div>
</div>
